@page "/upload-drop"
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption
@inject ToastService ToastService

<h3>DropUpload 拖拽上传组件</h3>


<section ignore>
    <div class="row g-3">
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="IsDisabled"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_isDisabled"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="IsMultiple"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_isMultiple"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="ShowUploadFileList"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_showUploadFileList"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="ShowDownloadButton"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_showDownloadButton"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="ShowProgress"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_showProgress"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="ShowFooter"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_showFooter"></Switch>
            </BootstrapInputGroup>
        </div>
    </div>
</section>
<DropUpload OnChange="@OnDropUpload" FooterText="文件大小不超过 5Mb"
            IsDisabled="@_isDisabled" IsMultiple="@_isMultiple"
            ShowProgress="@_showProgress" ShowUploadFileList="@_showUploadFileList" ShowFooter="@_showFooter"></DropUpload>

@code {

}
