@page "/multiselect"
<h3>MultiSelectDemo</h3>

<section ignore>
    <p>组件虚拟滚动支持两种形式通过 <code>Items</code> 或者 <code>OnQueryAsync</code> 回调方法提供数据</p>
    <div class="row g-3">
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="ShowSearch" />
                <Checkbox @bind-Value="@_showSearch" />
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="ShowToolbar" />
                <Checkbox @bind-Value="@_showToolbar" />
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="IsClearable" />
                <Checkbox @bind-Value="@_isClearable" />
            </BootstrapInputGroup>
        </div>
    </div>
</section>

<p class="code-label">1. 使用 OnQueryAsync 作为数据源</p>
<div class="row mb-3">
    <div class="col-6">
        <MultiSelect IsVirtualize="true" @bind-Value="_virtualItemValue1"
                     DefaultVirtualizeItemText="@_virtualItemText1"
                     OnQueryAsync="OnQueryAsync"
                     ShowSearch="_showSearch" ShowToolbar="_showToolbar"
                     IsClearable="_isClearable">
        </MultiSelect>
    </div>
    <div class="col-6">
        <Display TValue="string" Value="@_virtualItemValue1"></Display>
    </div>
</div>

<p class="code-label">2. 使用 Items 作为数据源</p>
<div class="row">
    <div class="col-6">
        <MultiSelect IsVirtualize="true" @bind-Value="_virtualItemValue2"
                     DefaultVirtualizeItemText="@_virtualItemText2"
                     Items="VirtualItems"
                     ShowSearch="_showSearch" ShowToolbar="_showToolbar"
                     IsClearable="_isClearable">
        </MultiSelect>
    </div>
    <div class="col-6">
        <Display TValue="string" Value="@_virtualItemValue2"></Display>
    </div>
</div>


